*{
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}
body{ 
  font-family: Arial, Helvetica, sans-serif;
}
#video-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.container{
  width: 40%;
  height: 34%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 0 20px wheat;
  background-color: transparent;
  backdrop-filter: blur(10px);
}
.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 80%;
  padding-top: 20px;
  margin-top: 5%;
}
.form, .displays, .buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5%;
}
.second-face{
  display: none;
}
p{
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px white;
  color: rgb(255, 251, 4);
  font-size: 0.8vw;
}
span{
  color: white;
  font-weight: bolder;
  font-size: 0.9vw;
}
input{
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 10px black;
}
h4{
  text-align: center;
  background-color: rgba(46, 118, 250, 0.87);
  padding: 10px;
  border-radius: 10px 10px 0 0;
  color: #fff;
}
button{
  border: none;
  border-radius: 5px;
  padding: 7px 20px;
  color: #fff;
  transition: all 1s ease-in-out;
}
.text, .next{
  font-size: 0.7rem;
}
.next{
  background: linear-gradient(rgb(89, 89, 196), rgb(43, 173, 43));
}
.next:hover{
  box-shadow: 1px 5px 10px rgb(43, 173, 43);
  background: rgb(89, 89, 196);
}
.calculate{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20%;
  background: linear-gradient(rgb(40, 204, 127), rgb(54, 157, 241));
}
.calculate:hover{
  box-shadow: 1px 5px 10px rgb(54, 157, 241);
  background: rgb(40, 204, 127);
}
.spinner{
  display: none;
  margin: auto;
  width: 10px;
  height: 10px;
  border: 2px solid green;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  0%{
    transform: rotate(0deg);
    border: 2px solid darkgreen;
    border-top-color: transparent;
  }
  25%{
    border: 2px solid red;
    border-top-color: transparent;
  }
  50%{
    border: 2px solid rgba(255, 0, 0, 0.438);
    border-top-color: transparent;
  }
  75%{
    border: 2px solid blue;
    border-top-color: transparent;
  }
  100%{
    border: 2px solid green;
    border-top-color: transparent;
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1024px) {
  .container{
    height: 30%;
    top: 30%;
  }
  input{
    width: 40%;
    font-size: 0.8rem;
  }
  p, span{
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 768px) {
  .container{
    height: 28%;
    top: 35%;
  }
  p, span{
    font-size: 0.8rem;
  }
  .displays{
    justify-content: space-between;
    margin-top: 3%;
  }
}
@media screen and (max-width: 480px) {
  .container{
    width: 80%;
    height: 32%;
  }
}
@media screen and (max-width: 420px){
  .container{
    height: 32%;
  }
}
@media screen and (max-width: 390px) {
  .container{
    height: 30%;
  }
}
@media screen and (max-width: 380px) {
  .container{
    height: 31%;
  }
}
@media screen and (max-width: 360px) {
  .container{
    width: 85%;
    height: 30%;
  }
}